@font-face {
    font-family: "Mori";
    src: url("/fonts/mori/PPMori-ExtraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mori";
    src: url("/fonts/mori/PPMori-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mori";
    src: url("/fonts/mori/PPMori-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
