@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

@theme inline {
  --font-abhaya: var(--font-abhaya-libre);
}
